:root {
  // Цвета
  --color-deepyellow: #ffb200;
  --color-yellow: #ffdf00;
  --color-red: #ff5246;
  --color-purple: #c74c4c;
  --color-blue: #34c0d2;
  --color-black: #171717;
  --color-grey: #a1a1a1;
  --color-white: #fff;

  // Общие переменные
  --border-radius: 12px;
  --border-radius-sm: 6px;
}
