@import '@/assets/styles/tools/mixins';

.s_test {
  &__title {
    font-size: rem(18);
    text-align: center;
  }
  &-final {
    margin: rem(30) auto;
    font-size: rem(18);
    font-weight: 600;
    text-align: center;
  }
  &__swiper {
    margin: rem(30) auto;
    &-slide {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      padding: rem(30) rem(20);
      border: rem(0.2) solid var(--color-black);
      border-radius: var(--border-radius);
      cursor: pointer;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: rem(300);
    height: rem(250);
    padding: rem(30) rem(20);
    border: rem(0.2) solid var(--color-black);
    border-radius: var(--border-radius);
    &-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &-description {
      font-size: rem(14);
    }
    &-title {
      margin: rem(12) 0;
      font-size: rem(18);
      font-weight: 900;
      text-align: center;
    }
    &-input {
      min-height: rem(40);
      border: none;
      border-bottom: rem(0.2) solid var(--color-black);
      outline: none;
      font-size: rem(16);
      font-weight: 600;
      text-align: center;
      &:focus-visible,
      &:focus-within {
        border: none;
        border-bottom: rem(0.2) solid var(--color-black);
      }
    }
    &-button {
      width: 100%;
      min-height: rem(40);
      margin: auto auto 0;
      color: var(--color-white);
      background: var(--color-black);
      border: none;
      border-radius: var(--border-radius-sm);
      cursor: pointer;
      &.disabled {
        opacity: 0.7;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
}
